
@{
    ViewBag.Title = "Balloons";
}

<div class="container">
    <div style="text-align:center">
        <div class="title-text">
            <p><b><i><h1>Balloons</h1></i></b></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="container-lg">
                <div id="carouselSlidesOnly" class="carousel slide" data-interval="3000" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" align="left">
                            <img src="/Content/imgs/baloons1.jpg" class="d-block w-100" alt="Balloons" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/baloons2.jpg" class="d-block w-100" alt="Balloons" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/baloons4.jpg" class="d-block w-100" alt="Balloons" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/baloons5.jpg" class="d-block w-100" alt="Balloons" style="max-width: 450px;" align="left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="text-align: center;">
                <b><i>Product Description</i></b>
                <p></p>
                <article>Our balloons are big, bold and beautiful; perfect for making events, brands, products, and photo shoots POP!</article>
                <p></p>
                <article> With a choice of over 30 gift balloons and greetings, we have attention grabbing balloons and decorations for every celebration. The collection also includes greeting cards, garlands, confetti, ribbon backdrops and chair backs, children’s party packs, and balloons in every shape, colour and size imaginable. In our assortment we have almost any kind of balloons: chrome, foil, metal, round balloons with confetti and feathers, balloons-numbers. We can also print a message or quatation on the ballon to your liking.</article>
                <p></p>
                <article> We strive to keep all costs down by eliminating our walk-in services, allowing us to focus completely on our website and ordering platform, to serve you better! You can feel safe and comfortable that our experienced team will be able to help you in any request that you may have. </article>
                </article>
            </div>
        </div>
    </div>
</div>
<p></p>
<div style="text-align: center;">
    <b><i>Details about price</i></b>
    <article>     </article>
    <p></p>
    <article>If you want to know more details about our impressive variety of balloons, you cand contact us on our page or calling on number below.</article>
    <p></p>
    <a class="btn btn-primary btn-xlg" href="tel:713-992-0916" style="padding:10px;background-color:rgba(144,12,63)">
        Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>713-992-0916
    </a>
</div>


