
@{
    ViewBag.Title = "Cakes";
}
<div class="container">
    <div style="text-align:center">
        <div class="title-text">
            <p><b><i><h1>Cakes - delicious arts</h1></i></b></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="container-lg">
                <div id="carouselSlidesOnly" class="carousel slide" data-interval="3000" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" align="left">
                            <img src="/Content/imgs/cake7.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/cake2.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/cake3.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/cake4.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/cake5.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/cake1.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/cake8.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="text-align: center;">
                <b><i>Product Description</i></b>
                <p></p>
                <article> "Cakes are special. Every birthday, every celebration ends with something sweet, a cake, and people remember. It's all about the memories." </article>
                <article>(Buddy Valastro)  </article>
                <p></p>
                <article> We are inspired by your ideas and we combine them with our talent, so we are constantly trying to surprise you by launching new products and achieving performance in terms of customer service. How did we get the ideal formula for each recipe? The answer is simple - for the preparation of desserts we use only natural ingredients. Our cakes, fillings and frostings are made from scratch. We use real ingredients to create the best tasting baked goods for our wonderful customers.  </article>
                <p></p>
                <article>Our mission is to make people happy. Making delicious cakes, having relaxing chairs in a smoking free environment and keeping our prices reasonable are all different ways to achieve this goal. </article>
                </article>
            </div>
        </div>
    </div>
</div>
<p></p>
<div style="text-align: center;">
    <b><i>Details about price</i></b>
    <article>     </article>
    <p></p>
    <article>If you want to know more details about our Cakes, you cand contact us on our page or calling on number below.</article>
    <p></p>
    <a class="btn btn-primary btn-xlg" href="tel:713-992-0916" style="padding:10px;background-color:rgba(144,12,63)">
        Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>713-992-0916
    </a>
</div>

