
@{
    ViewBag.Title = "Flower Compositions";
}

<div class="container">
    <div style="text-align:center">
        <div class="title-text">
            <p><b><i><h1>Flower Compositions</h1></i></b></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="container-lg">
                <div id="carouselSlidesOnly" class="carousel slide" data-interval="3000" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" align="left">
                            <img src="~/Content/imgs/composition1.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/imgs/composition2.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/imgs/composition4.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/imgs/composition5.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/imgs/composition6.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/imgs/composition7.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/imgs/composition8.jpg" class="d-block w-100" alt="Flower Compositions" style="max-width: 450px;" align="left">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div style="text-align: center;">
                <b><i>Product Description</i></b>
                <p></p>
                <article>Flowers and plants are always a great gift for those you hold dear, or even yourself. For a classic and elegant gift, our flower baskets are perfect for sharing natural beauty to your loved ones. Each basket of blooms is full of fragrant florals and soft shades to brighten any home. No matter the occasion, order flowers online to make your day shine! </article>
                <p></p>
                <article>It's proved that flowers create instant delight and happiness, and increase enjoyment and life satisfaction.</article>
                <p></p>
                <article>Flowers are like something very close to everyone’s heart! But finding a beautiful bunch of flower that speaks your emotions perfectly might be a tough task. Catherine's Boutique has taken the responsibility to become your messenger of Emotions. So, we step in with amazing flower compositions of amazing varieties. Also, we have a variety of boxes available to make the flower composition you want. </article>
            </div>
        </div>
    </div>
</div>
<footer>
    <br />
    <div style="text-align: center;">
        <b><i>Details about price</i></b>
        <article>
            We sell a variery of flowers, so you can combine them into an amazing flower composition. In our shop you can find a variety of Roses and Tulips, also we have Orchids, Freesias and other beautiful flowers. The price differs from the type/sort and how many flowers in the bouquet you want to have.
        </article>
        <p></p>
        <article>If you want to know more details about our Compositions, you cand contact us on our page or calling on number below.</article>
        <p></p>
        <a class="btn btn-primary btn-xlg" href="tel:713-992-0916" style="padding:10px;background-color:rgb(144,12,63)">
            Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>713-992-0916
        </a>
</footer>

