
@{
    ViewBag.Title = "FlowerBouquets";
}

<div class="container">
    <div style="text-align:center">
        <div class="title-text">
            <p><b><i><h1>Flower Bouquets</h1></i></b></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="container-lg">
                <div id="carouselSlidesOnly" class="carousel slide" data-interval="3000" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" align="left">
                            <img src="/Content/imgs/bouquet1.jpg" class="d-block w-100" alt="Flower Bouquet" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/bouquet2.jpg" class="d-block w-100" alt="Flower Bouquet" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/bouquet4.jpg" class="d-block w-100" alt="Flower Bouquet" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/bouquet5.jpg" class="d-block w-100" alt="Flower Bouquet" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/bouquet6.jpg" class="d-block w-100" alt="Flower Bouquet" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/bouquet7.jpg" class="d-block w-100" alt="Flower Bouquet" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/bouquet8.jpg" class="d-block w-100" alt="Flower Bouquet" style="max-width: 450px;" align="left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="text-align: center;">
                <b><i>Product Description</i></b>
                <p></p>
                <article>Happy birthday, congratulations, thank you, I love you, thinking of you. Each day, millions of gifts are exchanged by people who want to send thoughtful regards to deserving friends and loved ones.</article>
                <p></p>
                <article>It's proved that flowers create instant delight and happiness, and increase enjoyment and life satisfaction.</article>
                <p></p>
                <article>Each Catherine's Boutique floral bouquets will be a natural, original work of art. The company is committed to making each arrangement unique and custom-designed based on each customer's needs. Catherine's Boutique flower arrangements will feature a wide range of seasonal flowers. All sample arrangements in the store will be available for purchase. We also have a lot of foil models, so you can choose the foil to pack them in the way you want.</article>
                </article>
            </div>
        </div>
    </div>
</div>
<p></p>
<div style="text-align: center;">
    <b><i>Details about price</i></b>
    <article>
        We sell a variery of flowers, so you can combine them into an amazing bouquet. In our shop you can find a variety of Roses and Tulips, also we have Orchids, Freesias and other beautiful flowers. The price differs from the type/sort and how many flowers in the bouquet you want to have.
    </article>
    <p></p>
    <article>If you want to know more details about our Bouquets, you cand contact us on our page or calling on number below.</article>
    <p></p>
    <a class="btn btn-primary btn-xlg" href="tel:713-992-0916" style="padding:10px;background-color:rgba(144,12,63)">
        Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>713-992-0916
    </a> 
</div>


