
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div style="text-align:center">
        <div class="title-text">
            <p><b><i><h1>Catherine's Boutique</h1></i></b></p>
        </div>
        <div class="text2">
            <h2> It's always the little things those little gestures that matter the most.</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col" style="text-align: center;">
            <h5><em><i>Flower Bouquets</i></em></h5>
            <img src="~/Content/imgs/bouquet1.jpg" class="img-thumbnail" alt="Flower Bouquets" style="width:100%;max-width:300px">
            <button class="btn btn-light" onclick="location.href='/Home/FlowerBouquets';" style="margin-left:auto;margin-right:auto;display:block;">Details</button>
        </div>
        <div class="col" style="text-align: center;">
            <h5><em><i>Flower Compositions</i></em></h5>
            <img src="~/Content/imgs/composition1.jpg" class="img-thumbnail" alt="Flower Compositions" style="width:100%;max-width:300px">
            <button class="btn btn-light" onclick="location.href='/Home/FlowerCompositions';" style="margin-left:auto;margin-right:auto;display:block;">Details</button>
        </div>
        <div class="col" style="text-align: center;">
            <h5><em><i>Cakes</i></em></h5>
            <img src="~/Content/imgs/cake7.jpg" class="img-thumbnail" alt="Cakes" style="width:100%;max-width:300px">
            <button class="btn btn-light" onclick="location.href='/Home/Cakes';" style="margin-left:auto;margin-right:auto;display:block;">Details</button>
        </div>
    </div>
</div>