
@{
    ViewBag.Title = "Toys";
}

<div class="container">
    <div style="text-align:center">
        <div class="title-text">
            <p><b><i><h1>Weaved Toys - hand knitting art</h1></i></b></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="container-lg">
                <div id="carouselSlidesOnly" class="carousel slide" data-interval="3000" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" align="left">
                            <img src="/Content/imgs/toys1.jpg" class="d-block w-100" alt="Toys" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/toys2.jpg" class="d-block w-100" alt="Toys" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/toys3.jpg" class="d-block w-100" alt="Toys" style="max-width: 450px;" align="left">
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/imgs/toys4.jpg" class="d-block w-100" alt="Toys" style="max-width: 450px;" align="left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="text-align: center;">
                <b><i>Product Description</i></b>
                <p></p>
                <article>Our motto - Give Smiles!</article>
                <p></p>
                <article> Our products are unique, soft and comfortable. They are made for everybody but are not for everyone. They are made for those who appreciate organic materials and handicraft, those who choose top-quality products with modern design, made with traditional techniques and high ethical and eco standards. It is a real joy and challenge to combine materials, stitches and colours in every product we make. The journey to find an ideal shape and colour balance is an adventure full of surprises and unexpected results.</article>
                <p></p>
                <article> We cultivate tenderness and kindness through our hand-knitted toys.</article>
                </article>
            </div>
        </div>
    </div>
</div>
<p></p>
<div style="text-align: center;">
    <b><i>Details about price</i></b>
    <article>     </article>
    <p></p>
    <article>If you want to know more details about our hand-knitted toys, you cand contact us on our page or calling on number below.</article>
    <p></p>
    <a class="btn btn-primary btn-xlg" href="tel:713-992-0916" style="padding:10px;background-color:rgba(144,12,63)">
        Click to Call <span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>713-992-0916
    </a>

</div>


