.title-text {
    font-family: 'Dancing Script', cursive !important;
}

.text1 {
    font-family: 'Sacramento', cursive;
}

.text2 {
    font-family: 'Satisfy', cursive;
}

.table td, .table th {
    border-top-color: #dcd0cd;
}
.table thead th {
    border: none;
}